PORT=3000
EVENTS_FILE=events.csv
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_DIGEST_TO=whatsapp:+972525676445
PUBLIC_BASE_URL=
PAYPLUS_API_KEY=
PAYPLUS_SECRET=
PAYPLUS_TERMINAL_UID=
PAYPLUS_SUCCESS_URL=
PAYPLUS_CANCEL_URL=
PAYPLUS_WEBHOOK_SECRET=
